<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="style.css" type="text/css" />
  <title>Spacemacs and Doom Emacs packages in Debian maintained by Debian Emacsen team</title>
</head>
<body>
  <h2>Spacemacs and Doom Emacs packages in Debian</h2>
  <br />
  <hr />
  <p>This page contains a list of Spacemacs and Doom Emacs packages in the Debian archive maintained by the <a href="https://wiki.debian.org/EmacsenTeam">Debian Emacsen team</a>.</p>
  <p>For motivation, see: <a href="https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=828154">#828154</a>.</p>
  <hr />
  <br />
  <h3>Statistics</h3>
  <p>Number of Spacemacs packages: {{ statistics.spacemacs }}<br />
     Number of Doom Emacs packages: {{ statistics.doomemacs }}<br />
     Number of Debian  packages: {{ statistics.done }}</p>
  <br />
  <table id="packages">
    <tr>
      <th>Package</th>
      <th>Status</th>
      <th>Spacemacs</th>
      <th>Doom Emacs</th>
    </tr>
    {% for pkg in pkgs %}
    <tr>
      <td>{{pkg.pkg}}</td>
      {% if pkg.status == 'DONE' %}
      {% set status_class = "done" %}
      {% elif pkg.status == 'todo' %}
      {% set status_class = 'todo' %}
      {% endif %}
      <td class="{{status_class}}">{{pkg.status}}</td>
      <td>{{pkg.spacemacs}}</td>
      <td>{{pkg.doomemacs}}</td>
    </tr>
    {% endfor %}
  </table>
  <br />
  <div class="footnote">
    <p>Generated by <a href="https://salsa.debian.org/dogsleg/spacemacs-pkgs">spacemacs_pkg</a> (version: {{ version  }}).</p>
    <p>Last updated on {{date}} UTC.</p>
  </div>
</body>
</html>
